

/*******************************************************************************
		-	BULLETS AND ARROWS ADD ONS TO THE EXISTING VERSION 	-
*******************************************************************************/

.tp-bannertimer {
    background:#777 !important;
    background:rgba(0,0,0,0.1) !important;
    height:5px !important;
  }



.tp-bullets.simplebullets.navbar {

    height: 35px;
    padding: 0px 0px;

}
.tp-bullets.simplebullets .bullet {
    cursor: pointer;
    position: relative !important;
    background: rgba(0, 0, 0, 0.5) !important;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 6px !important;
    height: 6px !important;
    border: 5px solid rgba(0, 0, 0, 0) !important;
    display: inline-block;
    margin-right: 2px !important;
    margin-bottom: 14px !important;
    -webkit-transition: background-color 0.2s, border-color 0.2s;
    -moz-transition: background-color 0.2s, border-color 0.2s;
    -o-transition: background-color 0.2s, border-color 0.2s;
    -ms-transition: background-color 0.2s, border-color 0.2s;
    transition: background-color 0.2s, border-color 0.2s;
    float:none !important;
}
.tp-bullets.simplebullets .bullet.last {
    margin-right: 0px
}
.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	background: rgba(255, 255, 255, 1) !important;
	width: 6px !important;
    height: 6px !important;
    border: 5px solid rgba(0, 0, 0, 1) !important;
}



.tparrows:before {
    font-family: 'revicons';
	color: #fff;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    margin-right: 0;
    margin-top: 9px;
    text-align: center;
    width: 40px;
    font-size: 20px;
}
.tparrows {

    cursor: pointer;

    background: rgba(0, 0, 0, 0.5) !important;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 40px !important;
    height: 40px !important;

}
.tparrows:hover {
    color: #fff;
}
.tp-leftarrow:before {
    content: '\e824';
}
.tp-rightarrow:before {
    content: '\e825';
}
.tparrows.tp-rightarrow:before {
    margin-left: 1px;
}
.tparrows:hover {
    background: rgba(0, 0, 0, 1) !important;
}



/* THEMETASTIC CAPTIONS */


.tp-caption.nostyle{
      margin: 0;
}
.tp-caption.fat_small_white{
			position: absolute; 
			color: #000; 
			text-shadow: none; 
			font-weight: 300; 
			font-size: 20px; 
			line-height: 20px; 
			font-family: 'Open Sans', sans-serif; 
			padding: 10px 20px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color: rgba(255, 255, 255, 0.75);	
            -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		}
.tp-caption.fat_small_black{
			position: absolute; 
			color: #fff; 
			text-shadow: none; 
			font-weight: 300; 
			font-size: 20px; 
			line-height: 20px; 
			font-family: 'Open Sans', sans-serif; 
			padding: 10px 20px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color: rgba(0, 0, 0, 0.75);	
            -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		}
.tp-caption.fat_small_green{
			position: absolute; 
			color: #fff; 
			text-shadow: none; 
			font-weight: 300; 
			font-size: 20px; 
			line-height: 20px; 
			font-family: 'Open Sans', sans-serif; 
			padding: 10px 20px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color: #8baa2b;	
            -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		}
.tp-caption.fat_medium_green{
			position: absolute; 
			color: #fff; 
			text-shadow: none; 
			font-weight: 300; 
			font-size: 35px; 
			line-height: 35px; 
			font-family: 'Open Sans', sans-serif; 
			padding: 10px 20px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color: #8baa2b;	
            -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		}
.tp-caption.fat_medium_black{
			position: absolute; 
			color: #fff; 
			text-shadow: none; 
			font-weight: 300; 
			font-size: 35px; 
			line-height: 35px; 
			font-family: 'Open Sans', sans-serif; 
			padding: 10px 20px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color: rgba(0, 0, 0, 0.75);	
            -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		}
.tp-caption.fat_medium_white{
			position: absolute; 
			color: #000; 
			text-shadow: none; 
			font-weight: 300; 
			font-size: 35px; 
			line-height: 35px; 
			font-family: 'Open Sans', sans-serif; 
			padding: 10px 20px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color: rgba(255, 255, 255, 0.75);	
            -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		}
.tp-caption.fat_green{
			position: absolute; 
			color: #fff; 
			text-shadow: none; 
			font-weight: normal; 
			font-size: 60px; 
			line-height: 60px; 
			font-family: 'Open Sans', sans-serif; 
			padding: 10px 20px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color: #8baa2b;	
            -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		}
.tp-caption.fat_black{
			position: absolute; 
			color: #fff; 
			text-shadow: none; 
			font-weight: normal; 
			font-size: 60px; 
			line-height: 60px; 
			font-family: 'Open Sans', sans-serif; 
			padding: 10px 20px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color: rgba(0, 0, 0, 0.75);	
            -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		}
.tp-caption.fat_white{
			position: absolute; 
			color: #000; 
			text-shadow: none; 
			font-weight: normal; 
			font-size: 60px; 
			line-height: 60px; 
			font-family: 'Open Sans', sans-serif; 
			padding: 10px 20px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color: rgba(255, 255, 255, 0.75);	
            -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
		}